extends ../layout

block content
  .container.mt-4
    .card.shadow-lg.p-4
      .d-flex.justify-content-between.align-items-center.mb-4
        h1.card-title.h3.text-primary.fw-bold
          i.fas.fa-user-injured.me-2
          | Pacientes y sus Admisiones
        a(href="/pacientes/nuevo").btn.btn-info.text-white.shadow-sm
          i.fas.fa-plus.me-2
          | Nuevo Paciente

      .table-responsive
        table.table.table-hover.table-striped.table-bordered.shadow-sm.rounded
          thead.bg-light
            tr
              th Nombre
              th Fecha Nacimiento
              th Sexo
              th DNI
              th Última Admisión
              th Estado
              th Habitación
              th Acciones

          tbody
            each paciente in pacientes
              tr
                td.fw-medium #{paciente.nombre} #{paciente.apellido}
                td #{paciente.fecha_nacimiento.toLocaleDateString()}
                td
                  span.badge.rounded-pill(class=paciente.sexo === 'M' ? 'bg-primary' : 'bg-danger')
                    | #{paciente.sexo === 'M' ? 'Masculino' : 'Femenino'}
                td.font-monospace #{paciente.dni}
                td #{paciente.ultima_admision?.fecha ? paciente.ultima_admision.fecha.toLocaleDateString() : 'N/A'}
                td
                  span.badge.rounded-pill(class=paciente.ultima_admision?.estado === 'Activo' ? 'bg-success' : 'bg-secondary')
                    | #{paciente.ultima_admision?.estado || 'Sin internar'}
                td.fw-medium #{paciente.ultima_admision?.habitacion || '—'}
                td
                  .btn-group.btn-group-sm(role='group')
                    a(href=`/pacientes/${paciente.id}`).btn.btn-outline-primary(title="Ver Detalle")
                      i.fas.fa-eye
                    a(href=`/pacientes/editar/${paciente.id}`).btn.btn-outline-warning(title="Editar")
                      i.fas.fa-edit
                    a(href=`/pacientes/admision/${paciente.id}`).btn.btn-outline-info(title="Nueva Admisión")
                      i.fas.fa-procedures

block scripts
  script.
    document.addEventListener('DOMContentLoaded', function() {});