extends ../layout

block content
  .container.mt-4
    .card.shadow-lg.p-4
      .card-header.bg-primary.text-white.py-3
        h1.h4.mb-0 Historial de Altas
      .card-body
        if altas.length === 0
          .alert.alert-info.mb-0 No hay altas registradas en el sistema.
        else
          .table-responsive
            table.table.table-striped.table-hover.align-middle.table-bordered
              thead.table-light
                tr
                  th ID Alta
                  th Paciente
                  th DNI Paciente
                  th Fecha Alta
                  th Médico
                  th Diagnóstico
                  th.text-center Acciones
              tbody
                each alta in altas
                  tr
                    td #{alta.id_alta}
                    td #{alta.admision && alta.admision.paciente ? alta.admision.paciente.nombre + ' ' + alta.admision.paciente.apellido : 'N/A'}
                    td #{alta.admision && alta.admision.paciente ? alta.admision.paciente.dni : 'N/A'}
                    td #{alta.fecha_alta_real ? new Date(alta.fecha_alta_real).toLocaleDateString('es-ES') : 'N/A'}
                    td #{alta.medico ? alta.medico.nombre + ' ' + alta.medico.apellido : 'N/A'}
                    td
                      if alta.diagnostico_final
                        span(title=alta.diagnostico_final)= alta.diagnostico_final.substring(0, 50) + '...'
                      else
                        span.text-muted N/A
                    td.text-center
                      a.btn.btn-sm.btn-outline-primary(href="/admisiones/detalles/" + alta.id_admision) Ver Admisión