extends ../layout

block content
  .container.mt-4
    .card.shadow-lg.p-4
      .d-flex.justify-content-between.align-items-center.mb-4
        h1.card-title.h3.text-primary.fw-bold
          i.fas.fa-user-injured.me-2
          | Pacientes y sus Admisiones
        a(href="/pacientes/nuevo").btn.btn-info.text-white.shadow-sm
          i.fas.fa-plus.me-2
          | Nuevo Paciente

      .table-responsive
        table.table.table-hover.table-striped.table-bordered.shadow-sm.rounded
          thead.bg-light
            tr
              th Nombre
              th Fecha Nacimiento
              th Sexo
              th DNI
              th Última Admisión
              th Estado
              th Habitación
              th Acciones

          tbody
            each paciente in pacientes
              tr
                td.fw-medium #{paciente.nombre} #{paciente.apellido}
                td #{paciente.fecha_nacimiento ? new Date(paciente.fecha_nacimiento).toLocaleDateString() : 'N/A'}
                td
                  span.badge.rounded-pill(class=(paciente.genero === 'Masculino' ? 'bg-primary' : paciente.genero === 'Femenino' ? 'bg-danger' : 'bg-secondary'))
                    | #{paciente.genero === 'Masculino' ? 'Masculino' : paciente.genero === 'Femenino' ? 'Femenino' : 'Otro'}
                td.font-monospace #{paciente.dni}
                
                - const admisionActiva = paciente.admisiones && paciente.admisiones.length > 0 ? paciente.admisiones[0] : null;
                - const fechaIngresoAdmision = admisionActiva ? new Date(admisionActiva.fecha_ingreso).toLocaleDateString() : 'N/A';
                - const estadoAdmision = admisionActiva ? admisionActiva.estado_admision : 'Sin internar';
                - const habitacionAsignada = admisionActiva && admisionActiva.cama && admisionActiva.cama.habitacion ? admisionActiva.cama.habitacion.numero : '—';

                td= fechaIngresoAdmision
                td
                  span.badge.rounded-pill(class=(estadoAdmision === 'Activa' ? 'bg-success' : 'bg-secondary'))
                    | #{estadoAdmision}
                td.font-medium= habitacionAsignada
                
                td
                  .btn-group.btn-group-sm(role='group')
                    a(href=`/pacientes/admision/${paciente.id_paciente}`, class="btn btn-outline-primary", title="Ver Admisión del Paciente")
                      i.fas.fa-eye
                    a(href=`/pacientes/editar/${paciente.id_paciente}`, class="btn btn-outline-warning", title="Editar Paciente")
                      i.fas.fa-edit
                    a(href=`/admisiones/nueva?id_paciente=${paciente.id_paciente}`).btn.btn-outline-info(title="Registrar Nueva Admisión")
                      i.fas.fa-procedures