extends ../layout

block content
  .container.mt-4
    .card.shadow-sm.my-4
      .card-header.bg-primary.text-white.py-3
        h1.h4.mb-0 Lista de Pacientes
      .card-body.p-4
        .table-responsive
          table.table.table-striped.table-hover.align-middle.table-bordered
            thead.table-light
              tr
                th Nombre
                th Teléfono
                th Dirección
                th Género
                th Obra Social
                th.text-center Acciones
            tbody
              each paciente in pacientes
                tr
                  td #{paciente.nombre} #{paciente.apellido}
                  td #{paciente.telefono || 'N/A'}
                  td #{paciente.direccion || 'N/A'}
                  td #{paciente.genero || 'N/A'}
                  td #{paciente.obraSocial ? paciente.obraSocial.nombre : 'Sin Obra Social'}
                  td.text-center
                    a.btn.btn-sm.btn-outline-primary(href=`/pacientes/editar/${paciente.id_paciente}`) Editar