extends ../layout

block content
  .card.shadow-sm.my-4
    .card-header.py-3
      h1.h4.mb-0 Lista de Pacientes
    .card-body.p-0
      .table-responsive
        table.table.table-striped.table-hover.align-middle.mb-0
          thead.table-light
            tr
              th Nombre
              th Teléfono
              th Dirección
              th Sexo
              th Obra Social
              th.text-center Acciones
          tbody
            each paciente in pacientes
              tr
                td #{paciente.nombre}
                td #{paciente.telefono}
                td #{paciente.direccion}
                td #{paciente.sexo}
                td #{paciente.obra_social}
                td.text-center
                  a.btn.btn-sm.btn-outline-primary(href=`/pacientes/${paciente.id}/editar`) Editar